<IfModule mod_rewrite.c>

    RewriteEngine On
    RewriteBase /zarkmedia.ml/
    
    #RewriteCond %{HTTPS} on
    
	#RewriteCond %{HTTP_HOST} !^www\.
    #RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]

    ErrorDocument 404 /error-404.php
    
    RewriteCond %{REQUEST_FILENAME} !-d

    RewriteCond %{REQUEST_FILENAME}.php -f
    RewriteRule ^(.*)$ $1.php

    RewriteCond %{REQUEST_FILENAME}.html -f
    RewriteRule ^(.*)$ $1.html
    
    RewriteCond %{REQUEST_FILENAME} POST
    RewriteRule ^ - [L]
    
    #RewriteRule ^(.*)$ $1.php
    #RewriteCond %{HTTPS} off
	#RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}
	
    #RewriteRule ^/index$ /home
    
    #RewriteCond %{REQUEST_FILENAME}.php -f
    #RewriteRule !.*\.php$ %{REQUEST_FILENAME}.php [QSA,L]
    
</IfModule>




